!pip install -q kagglehub scikit-learn pandas

In [32]:
import kagglehub
from pathlib import Path

# Download latest version
path = Path(kagglehub.dataset_download("harishkumardatalab/housing-price-prediction", path="Housing.csv"))

Path("housing_price_raw.csv").write_text(data=path.read_text())

29435

In [33]:

import pandas as pd

df = pd.read_csv("housing_price_raw.csv")

In [34]:
df.count()

price               545
area                545
bedrooms            545
bathrooms           545
stories             545
mainroad            545
guestroom           545
basement            545
hotwaterheating     545
airconditioning     545
parking             545
prefarea            545
furnishingstatus    545
dtype: int64

In [35]:
df.dropna(how="any").count()

price               545
area                545
bedrooms            545
bathrooms           545
stories             545
mainroad            545
guestroom           545
basement            545
hotwaterheating     545
airconditioning     545
parking             545
prefarea            545
furnishingstatus    545
dtype: int64

In [36]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [37]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [38]:
df.to_csv("housing_price_silver.csv", index=False)

In [39]:
# bin encoding
func = lambda x: 1 if x == "yes"else 0 if x == "no" else x
df = df.map(func)

In [40]:
df = df.join(pd.get_dummies(df["furnishingstatus"], dtype=int)).drop(columns='furnishingstatus')

In [41]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
columns_to_normalize = ["price","area","bedrooms","bathrooms","stories", "parking"]
normalized_values = scaler.fit_transform(df[columns_to_normalize])

df[columns_to_normalize] = normalized_values

In [42]:
df.to_csv("housing_price_gold.csv")